input {
    width: 150px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
  input:focus {
    width: 250px;
  }
.animations{
  overflow: hidden;
}
.imgAnimation:hover{
  transform: scale(1.2);
  transition: transform 2s ease-in-out;
}

